body{
    padding: 0px;
    margin: 0px;
    background-color: #f44336;
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center; 
    font-size: 64px; 
    color:white;
    font-variant: small-caps;
    padding-top: 10%;
}

ul{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    border-bottom: 3px solid white;
}



a{
    padding: 12px 24px;
    text-decoration: none;
    color: white;
    font-size: large;
    display: block;
    
}

a:hover{
    background: white;
    color: black;
}

.Home{
    background: white;
    color: black;
}

p, div{
    color: white;
    text-align: center; 
    font-size: 24px;
}

button{
    background: black;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: large;
    cursor: pointer;
    border-radius: 3px;
}

button:hover{
    background: white;
    color: black;
}